.wrapper{
    background-color: cornflowerblue;
    max-width: 400px;

}
.top-bar{
    text-align: center;
    font-family: cursive;
    color: white;
}
.top-bar{
    margin-bottom: 25px;
}


.box{
    display:inline-grid;
    width:60px;
    height:65px;
    border: solid black 1px;
    font-size: 40px;
    text-align: center;
    font-family:'Trebuchet MS';
    
}

.txtinput{
    width: 230px;
    margin-left: 25px;
}
.menu-buttons{
    margin-top: 50px;
    margin-left: 100px;
}
